.profile
    block name 
        img(src="https://static4.depositphotos.com/1025674/371/v/950/depositphotos_3711751-stock-illustration-spy.jpg")
        h3 Guest Guest'ovich
        p Emissary 
ul 
    li
        a.active(href="#")
            span.icon 
                i.fas.fa-home
            span.item Home 
    li
        a(href="#")
            span.icon 
                i.fas.fa-desktop
            span.item My dashboard 
    li
        a(href="#")
            span.icon 
                i.fas.fa-user-friends
            span.item People 
    li
        a(href="#")
            span.icon 
                i.fas.fa-tachometer-alt
            span.item Performance  
    li
        a(href="#")
            span.icon 
                i.fas.fa-database
            span.item Development 
    li
        a(href="#")
            span.icon 
                i.fas.fa-chart-line
            span.item Reports 
    li
        a(href="#")
            span.icon 
                i.fas.fa-user-shield
            span.item Admin 
    li
        a(href="#")
            span.icon 
                i.fas.fa-cog
            span.item Settings 